.App {
  text-align: center;
  background-color: lightblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  width: 70%;
  padding: 0 15%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input{
  width: 90%;
  height: 2vw;
  border-radius: 1vw;
  border: none;
}
button{
  height: 2vw;
  border-radius: 1vw;
  border: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list{
  color: #193b45;
  display: inline-block;
  
}
.task{
  border: 2px solid #61dafb;
  display: inline-block;
}
